body {
  > main {
    width: calc(100% - 24px);
    max-width: 800px;
    margin: auto;
    height: calc(50vh - 100px);
    overflow-y: scroll;
    font-family: "Theia";
    box-sizing: border-box;
    border-top: 5px dotted magenta;
    border-bottom: 5px dotted magenta;
    padding-left: 10px;

    .form-group {
      display: flex;
      padding-top: 5px;
      padding-bottom: 5px;
      cursor: pointer;
      * {
        cursor: pointer;
      }
      ~ .form-group {
        border-top: 1px solid rgba(196, 98, 87, 0.836);
      }
      label {
        flex-grow: 1;
        &:hover {
          background: linear-gradient(to right, #dff, #dff0);
        }
      }
      input[type="color"] {
        width: 21px;
        appearance: none;
        padding: none;
        background-color: white;
      }
    }
  }
  > footer {
    display: flex;
    width: calc(100% - 24px);
    height: 100px;
    max-width: 800px;
    margin: auto;
    align-items: center;
    justify-content: flex-end;
    #export {
      background: magenta;
      color: white;
      font-family: Manufab;
      font-variation-settings: "wght" 600;
      font-size: 18px;
      padding: 0 1rem;
      line-height: 0.7;
      height: 2rem;
      border-radius: 1;
      appearance: none;
      border: none;
      border-radius: 1rem;
      transition-property: filter;
      transition-duration: 200ms;
      outline: none;
    }
    #export:hover {
      filter: drop-shadow(0px 1px 5px #3ff);
    }
    #export:active {
      filter: invert(1);
    }
  }
}
