$theia-weights: ("100") ("200") ("300") ("400") ("500");
@each $weight in $theia-weights {
  @font-face {
    font-family: "Theia";
    font-weight: #{$weight};
    src: url("../fonts/Theia0.2-#{$weight}.woff") format("woff");
    src: url("../fonts/Theia0.2-#{$weight}.woff2") format("woff2");
  }
}
@font-face {
  font-family: "Manufab";
  src: url("../fonts/ManufabGX.woff") format("woff");
  src: url("../fonts/ManufabGX.woff2") format("woff2");
}
@font-face {
  font-family: "Icon";
  src: url("../fonts/IconGX.woff") format("woff");
  src: url("../fonts/IconGX.woff2") format("woff2");
}
