:root {
  font-size: 20px;
}

body {
  font-family: Manufab;
  font-variation-settings: "wght" 324;
  margin: 0;
  height: 100vh;
  width: 100vw;
  > header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: #fff;
    overflow-x: scroll;
    #desktop {
      padding: 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50vh;
      #vscode {
        --hover-bg: #e2e2e2;
        color: #777;
        display: flex;
        flex-direction: column;
        height: calc(100% - 2rem);
        width: calc(100% - 2rem);
        min-width: 800px;
        background: #f2f2f2;
        box-shadow: 0px 2px 7px #777;
        border-radius: 10px;
        header,
        main,
        footer {
          width: 100%;
        }
        header,
        footer {
          height: 1rem;
          font-size: 0.6rem;
        }
        header {
          text-align: center;
        }
        main {
          height: 100%;
          display: flex;
          #activity-bar {
            font-variation-settings: "wght" 75;
            color: #999;
            font-family: Icon;
            height: 100%;
            width: 50px;
            text-align: center;
          }
          #side-bar {
            font-size: 0.75rem;
            height: 100%;
            width: 200px;
            label,
            h1 {
              font-size: 0.6rem;
              text-transform: uppercase;
            }
            label {
              display: block;
              background: #ccc;
              font-variation-settings: "wght" 600;
              padding-top: 4px;
              padding-bottom: 2px;
              padding-left: 4px;
              &::before {
                font-variation-settings: "wght" 300;
                text-transform: lowercase;
                font-family: Icon;
                margin-right: 5px;
                content: "v";
              }
            }
            ul {
              padding: 0;
              list-style-type: none;
              &,
              li {
                margin: 0;
                padding: 5px;
                padding-left: 10px;
              }
            }
          }
          #content-area {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            #tabs {
              display: flex;
              height: 50px;
              #active-tab {
                background: #fff;
              }
              > * {
                padding: 10px;
                display: flex;
                align-items: center;
              }
            }
            #text {
              font-family: Theia;
              color: #555;
              height: 100%;
              background: #fff;
              padding-left: 1rem;
              .js-content {
                display: block;
                > div {
                  margin-top: 1rem;
                }
                div > div::before {
                  content: "..";
                  opacity: 0;
                }
              }
              .html-content {
                display: none;
              }
              .css-content {
                display: none;
              }
            }
          }
        }
        footer {
          display: flex;
          > * {
            padding: 0 10px;
          }
          .spacer {
            flex-grow: 1;
          }
          .extension::before {
            font-variation-settings: "wght" 150;
            font-family: Icon;
            margin-right: 3px;
            content: "c";
          }
        }
      }
    }
  }
}
#tabs > *,
li {
  &:hover {
    background: var(--hover-bg);
  }
}

@media (max-width: 840px) {
  body > header {
    justify-content: flex-start;
  }
}
